.listItem {
    @apply
    shadow-md
    rounded-lg overflow-hidden
    mb-4

    md:shadow-none
    md:rounded-none md:overflow-visible
    md:pt-8 md:pb-4 md:mb-0
    md:border-t md:border-t-gray-200
}

.container {
    @apply
    w-full
    mt-5 

    lg:w-[70%]
}

.h2 {
    @apply
    px-3 mb-5
    text-xl font-bold

    2xl:px-10
}

.galleryBodyText {
    @apply
    text-xl
    my-5 px-6
}


.newsInfo {
    @apply
    my-5

    lg:flex lg:justify-between
}

.newsCard {
    @apply
    relative
}

.counter {
    @apply
    block
    absolute top-4 left-4
    w-11 h-7
    bg-red-600
    text-center text-white first-letter:font-bold -tracking-widest
    rounded-md
}

.createTime {
    @apply
    block
    text-sm tracking-tighter 
    text-left
}

.authorName {
    @apply
    block
    text-sm font-bold tracking-tighter
}

.pageContent {
    @apply
    lg:flex lg:gap-4
}

.newsWrapper {
    @apply
    w-full

    lg:w-[70%]
}

.newsMore {
    @apply
    flex-1 shrink-0 items-center
    
    md:mt-3
    
    2xl:flex 
}

.newsMoreText {
    @apply
    hidden
    shrink-0 
    mb-2 mr-1
    font-bold

    md:block
}

.aside {
    @apply
    hidden

    lg:block
    w-[30%]
}

.cardWrapper {
    @apply
    border rounded-lg overflow-hidden
    mb-4
}