.listItem {
    @apply
    shadow-md
    rounded-lg overflow-hidden
    mb-4

    md:shadow-none
    md:rounded-none md:overflow-visible
    md:pt-8 md:pb-4 md:mb-0
    md:border-t md:border-t-gray-200
}

.container {
    @apply
    mt-5 
    lg:w-[70%]
}