.hotAgendaWrapper {
    @apply
    mb-4
}

.landingWrapper {
    @apply
    w-full

    lg:flex lg:justify-between lg:gap-4
}

.highlightBox {
    @apply
    md:flex md:gap-4
}

.main {
    @apply
    lg:w-[70%]
}

.aside {
    @apply
    hidden
    lg:block    
    lg:w-[30%]
}