.hotAgendaWrapper {
    @apply
    mb-4
}

.landingWrapper {
    @apply
    w-full

    lg:flex lg:justify-between lg:gap-4
}

.highlightBox {
    @apply
    md:flex md:gap-4
}

.main {
    @apply
    lg:w-[70%]
}

.aside {
    @apply
    hidden
    lg:block    
    lg:w-[30%]
}

.horizontalCardWrapper {
    @apply
    lg:w-[70%]
}

.spotlessHorizontalNewsCardWrapper {
    @apply
    columns-2 
    px-3 mb-3

    md:p-0    
    lg:w-[70%]
}

.contentWrapper {
    @apply
    md:columns-3 
    lg:columns-4
}