.whatHappened {
    @apply
    hidden
    relative

    md:w-full md:h-14
    md:py-3 md:pr-0 md:pl-5
    md:flex md:gap-5
}

.title {
    @apply
    text-base font-bold
    flex-none
}

.sliderItem {
    @apply 
    border border-t-0 border-l-0 border-b-0 border-r-slate-400
    pl-3
    cursor-pointer
}

.sliderTitle {
    @apply
    text-base font-bold text-red-500 uppercase
    mr-1
}

.nextEl {
    @apply
    flex justify-center items-center 
    w-14 h-full
    absolute right-0 top-0 z-10 
    bg-white 
    border-l-2
    cursor-pointer
}

.content {
    @apply
    text-sm font-bold capitalize
    ml-1
}