@import "./whatHappenedSlider.scss";
@import "./homeCarousel.scss";
@import "./layouts.css";

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;

  .bar {
    height: 3px !important;
  }
}

img {
  margin-top: 42px;
}